table {
    width: 100%;
  }
 table,th,td{
  width: auto;
  margin: 10px;
  margin-top: 20px;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border:2px solid blue;

 } 
.erroeMessage{
  color: red;
}
  